body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px; 
  }
  
  .btn {
    margin-top: 10px; 
  }
  
  .form-label {
    font-weight: bold; 
  }
  
  .section-box {
    padding: 15px;
    margin-bottom: 20px; 
    border-radius: 5px; 
  }