<h2>Login</h2>
<form action="/login" method="post">
    <div class="login-container">
        <input type="text" placeholder="Matrícula" name="matricula" required>
        <label for="password">Senha</label>
        <input type="password" placeholder="Senha" name="senha" required autocomplete="off">
        <button type="submit">Entrar</button>
    </div>
    <p>Não tenho cadastro <a href="#" id="openCadastro">cadastro</a></p>
</form>
